body {
	height: 100vh;
	background: linear-gradient(90deg, #d53369 0%, #daae51 100%); /* Fall back to hex when oklch doesn't work */
	background: linear-gradient(90deg, oklch(58.56% 0.2 6.3) 0%, oklch(77.29% 0.122 83.75) 100%);
}
